//Destination

.Destination {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    height: 120%;

}



.Stack-block {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: center;

    .Stack-block__Title {
        margin-left: -19vw;
        padding-bottom: 6rem;
    }

    .part-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    padding-top: 15rem;

}



    .part-one {
        width:50vw 
   
    }
.nav-bar,.line,.Block {
    width:40vw;
}
.Planet__Text{
    width:42vw;
    text-align: left;

}

.Block {
    p{
        width :20vw
    }
}


}

.planet-block {
    display: flex;
    justify-content: center;
}


//home 

.Home{
    justify-content: flex-start;
    height: 120%;
}
.main-home{
    display : flex; 
    flex-direction: column;
    
}

.flexbox-block{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top : 14rem ;
}

.main-home__paragraph {
    width: 38vw;}

.main-home__CTA {

        width: 27vw;
        height: 27vw;
    }


    .main-home__button {

        align-items: center;
        :hover{
            outline: #ffffff11 solid 10rem;
          

        }
    }

    .main-home {
        width: 100vw;
        
    }

    //crew
    #app {
        overflow-x: hidden;
        position: relative;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .navbar__Desktop{
        width: 100vw;
    }
    .Crew {
        height: 120%;
        justify-content: flex-start;

        .Stack-block__Title{
            margin-left:initial;
            text-align: initial;
            margin-left: clamp(5rem, 7vw, 8rem);
        }

        .Stack-block__flex{
            align-items: initial;
        }

        .Stack-block{
            flex-direction: row;
            margin-left: clamp(2rem,4vw, 5rem);
        }
        .nav-bar{
            width: 30vw;
            order: 4;
           
            }
        .planet-block{
            margin-top: 7rem;
            margin-left: 0;
        }
        .Stack-Text {
            display: flex;
            flex-direction: column;
            align-items: normal;
            margin-left: 3rem;
            p{
                text-align: left;
                width: 40vw;
            }
        }
    }

    // Technology 


.Technology{ 
    height: 120%;
    justify-content: flex-start;
   .Stack-block{
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-between;
    
   } 
   .crewimg {
        width: 41vw; 
   }
    .planet-block{
        order: 2;
    }
    .Stack-block__flex{
        order: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 51vw;
        .nav-bar{
            order:1; 
            display: flex;
            flex-direction: column;
            height: 30rem;
            align-items: center;
        }
    }
    .Stack-Text {
        order:2 ; 
    }
    .Stack-Text__paragraph{
        width: 40vw;
    }
    .Stack-block__Title{
        margin-left: 4vw;
        text-align: initial;
         
    }
    .nav-bar__items{
        

        
        &:hover{
            border-color : white; 
        }}
}




// navbar 


a.main-navbar__link.active{


    padding-bottom: 27px;
    &:hover{
        border-color : white; 
    }
    
    }
    a.main-navbar__link{

        &:hover{
            border-bottom: 2px solid rgba(255, 255, 255, 0.247);
            padding-bottom: 27px;
        }
    }
    .main-navbar .main-navbar__item {
        padding-left: 8vw;
    
     }

     @keyframes appear {
         0%{
            opacity: 0;
         }
         100%{
             opacity: 1;
         }
     }