
 .Home,.Crew,.Technology { 
    background-repeat: no-repeat;
    height: inherit;
  
    background-size: cover;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 12vh;
  

}

.Destination,.Home,.Crew,.Technology {
    min-height: 800px;
    overflow-y: hidden;
}


.Destination{ 
    background-repeat: no-repeat;  
    background-size: cover;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 12vh;
   
  

}

.part-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.grey {
    color:#FFFFFF;
    opacity: 0.25; 

}


// Destination 


.Stack-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .nav-bar{

     display: flex;
    width: 59vw;
    justify-content: space-around;
    @include navtext; 
    

    a{
        text-decoration: none;
    color: $blue; }
    }

}

.planetimg{
    width:35rem;
    margin: 3rem 0;
}
.Stack-block__Title{
 margin-top: 5rem;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;  
  font-size:1.8rem; 
}
.Planet{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Planet__Text{
    width: 70vw;
    text-align: center;
    color:$blue;
    font-size:2rem; 
    line-height: 1.8;
}

.Block {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
 p{
     width: 100vw;
     text-align: center;
     color:$blue;
     font-size: 1.6rem;
     @include sb2; 
 }
 .Block__elements{
   font-family:  $police2;    
   font-size: 2.8rem;
   color: white;
   text-transform: uppercase;
 }
}


.Planet__title{

    font-family: $police2;
    font-size : 10em; 
    text-transform: uppercase;
}

.line {
    width: 80vw;
    height: 1px;
    background-color: #383B4B;
}

//home 
.main-home__button {
    display: flex;
    justify-content: center;
}

.main-home__CTA {

    font-family: $police2;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    font-size: 5rem;
    border: 1px solid transparent;
    background: white;
}

.main-home__Texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-home__paragraph{
    width: 79vw;
    font-size: 2.6rem;
    text-align: center;
    color:$blue;
    line-height: 4.5rem;
}



#app {
    overflow-x: hidden;
    position: relative;
}
.flex{
    display: flex;
    flex-direction: column;
}
.navbar__Desktop{
    width: 100vw;
}

//Crew
.Crew {
    flex-direction: column;
    padding-top: 15vh;
    .Stack-block__Title{
        color :white; 
    }
    .Stack-block{
      justify-content: normal;  
      width: 100vw;
    }
    .nav-bar{
        width: 36vw;
    }
    .planet-block{
        position: relative;
        
  
       
    }
    .Stack-block__flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a.nav-bar__items.active{
        background-color: white;
        opacity: 1;
    }
    
    .nav-bar__items{
        background-color: #ffffff;
        opacity: 0.17;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
    }
    .crewimg {
        position: absolute;
        top: 2rem;
        z-index: 0;
        left: 22vw;
        height: 37rem;
        margin : 3rem 0 ; 
    }
    .line{
        margin: 42rem 0 6rem 0;
        z-index: 1;
    }

}

.Stack-Text{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 9rem 0;
    margin: 8rem 0;
    .Stack-Text__title{
        font-size: 4em;
        margin: 0.67em 0;
        opacity: 0.5;
        font-family: $police2;
        text-transform: uppercase;
    }
    .Stack-Text__subtitle{
        font-size: 3rem;
        font-family: "Bellefair", serif;
        text-transform: uppercase;
        margin: 1rem 0;
    }
    p{
        width: 80vw;
        text-align: center;
        color: $blue;
        letter-spacing: 2.35px;
        font-size: 2.2rem;
        font-weight: 300;
    }
}

//technology


.Technology{

    flex-direction: column;
    .Stack-block__Title{
        color: white; 
        font-size : 3rem; 
    }
    .crewimg{
        width : 102vw
    }
    .nav-bar{
       .nav-bar__items{
        font-family: $police2;
        font-weight: bold;
        border: 1px solid rgba(255, 255, 255, 0.103);
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
        font-size : 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
       } 
    }
    .Stack-block__flex{
        display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    }
    .Stack-Text__subtitle{

    }
    .Stack-Text__title{
        @include sb2; 
        color : $blue; 
        font-family: $police;
    }
  
}

a.nav-bar__items.active {
    background: white;
    color:$dark-blue;
}

.Modal{
    flex-direction: column;
    justify-content: flex-start;
    inset: 0% 0px 50% 50%;
    margin-right: -50%;
    transform: translate(0%, 0%);
    display: flex;
    width: 50vw;
    height: 100vh;
    left: auto;
    top: auto;
    background: rgba(0, 0, 0, 0.514);
    backdrop-filter: blur(25.548500000000004px);
}

.Overlay{
    position: fixed;
    inset: 0px;
    background-color: transparent;
    align-items: end;
    display: flex;
    justify-content: center;
}

.main-navbar {
    margin-top : 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    text-align: left;
    width: 50vw;
    a {
        @include navtext;
        font-size: 2.5rem;
        font-family: $police;
        text-decoration: none;
        color: white;
        font-weight: 400;
        text-transform: uppercase;
    }
    span {
        font-weight: 1000;

    }
    .main-navbar__item{
        padding-left: 8vw;
        margin : 4rem 0; 
    }
    
}


#close {
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 6rem; height: 6rem;
	border-radius: 50%;
	background: transparent;
	color: #ffffff;
	font: inherit;
	text-indent: 100%;
    padding: 0 13rem 0 0;
    margin-top: 4rem;
    align-self: end;
	
	&:focus {
		outline: solid 0 transparent;
		box-shadow: 0 0 0 2px #ffffff
	}
	
	
	
	&:before, &:after {
		position: absolute;
		top: 15%; left: calc(50% - .0625em);
	    width: 0.5em; height: 70%;
		border-radius: .125em;
		transform: rotate(45deg);
		background: currentcolor;
		content: ''
	}
	
	&:after { transform: rotate(-45deg); }
}

//active 

.part-two{
  a.active{
    border-bottom : 1px solid white; 
    padding-bottom: 5px; 
}  
}


.logo {
    a.active {
        border : 0 ; 
    }
}