// colors

$background : #0B0D17;
$white : #ffff;
$blue : #D0D6F9;
$dark-blue: #0B0D17;

// Font-family && size

$police:  'Barlow Condensed', sans-serif;
$police2:'Bellefair', serif;
$h1 : 15rem ;
$h2: 10rem;
$h3 : 5.6rem;
$h4 : 3.2rem;
$sb1:1.4rem;


@mixin sb2 {
    font-size:1.4rem;
    letter-spacing: 2.35px;
}

@mixin navtext {
    font-size:1.6rem;
    letter-spacing: 2.7px;
}

.main-navbar__link{
    @include navtext;
}

html,body {
    font-size:62.5%;
    font-family: $police;
    height: 100%;
    background-color : $dark-blue;
  
}
.body {
    height: inherit;
     
}





h1{
    font-size:$h1;
}
h2{
    font-size :$h2;
    font-family: $police2;
    text-transform: uppercase;
}
h3{
    font-size : $h3;
}
h4{
    font-size: $h4;
}
h5{
    font-size:2.8rem; 
    letter-spacing: 4.75px;
    font-family: $police;
    font-weight: normal;
    color:$blue;
}


.active{
    font-weight: bold;
}

@mixin flex-row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}